header {
  background-color: #047;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 50px;
  justify-content: space-around;
  align-items: center;
}

body, html {
  color: #FFFFFF;
  background-color: #121212;
}


.header-element {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.header-button {
  background-color: #0470;
  border: none;
  color: #AAA;
  padding: 16px 32px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin: 4px 2px;
  transition: 1s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.header-button-selected {
  background-color: #0470;
  border: none;
  color: #FFF;
  padding: 16px 32px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin: 4px 2px;
  transition: 1s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.header-button:hover {
  background-color: #001255;
  color: #FFF;
}

.rules-flexbox-container-1 {
  background-color: #FF0000;
  display: flex;
  position: absolute;
  top: 20vh;
  left: 10vw;
  flex-direction: column;
}

.rules-flexbox-container-2 {
  background-color: #FF0000;
  display: flex;
  position: absolute;
  top: 20vh;
  left: 40vw;
  flex-direction: column;
}

.rules-flexbox-container-3 {
  background-color: #FF0000;
  display: flex;
  position: absolute;
  top: 20vh;
  left: 70vw;
  flex-direction: column;
}

.flexbox-item {
  width: 100px;
  margin: 10px;
  background-color: #d1d1d1;
}

.flexbox-item-1 {
  min-height: 100px;
}
