<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Geo Quest – Filters</title>
  <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>

<body>
  <form method="POST" action="{{ url_for('settings') }}" id="filters-form">
    <header>
      <button type="button" onclick="location.href='rules.html'" class="header-button">How it works</button>
      <button type="submit" form="filters-form" class="header-button">Play</button>
      <button type="button" onclick="location.href='filters.html'" class="header-button-selected">Filters</button>
    </header>

    <!-- Slider #1 -->
    <div class="flexbox-container slider-container slider-container-1">
      <input type="range" name="slider1_left" min="1" max="10" value="{{ slider1.left }}" class="left-range hidden" />
      <input type="range" name="slider1_right" min="1" max="10" value="{{ slider1.right }}"
        class="right-range hidden" />
      <div class="slider">
        <div class="track"></div>
        <div class="range"></div>
        <div class="thumb left"></div>
        <div class="thumb right"></div>
      </div>
    </div>

    <!-- Slider #2 -->
    <div class="flexbox-container slider-container slider-container-2">
      <input type="range" name="slider2_left" min="1" max="10" value="{{ slider2.left }}" class="left-range hidden" />
      <input type="range" name="slider2_right" min="1" max="10" value="{{ slider2.right }}"
        class="right-range hidden" />
      <div class="slider">
        <div class="track"></div>
        <div class="range"></div>
        <div class="thumb left"></div>
        <div class="thumb right"></div>
      </div>
    </div>
  </form>

  <script src="{{ url_for('static', filename='js/sliders.js') }}"></script>
</body>

</html>
