<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Geo Quest - Rules</title>
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  </head>
  <header>
    <button onclick="location.href='rules.html'" class="header-button-selected">How it works</button>
    <button onclick="location.href='index.html'" class="header-button">Play</button>
    <button onclick="location.href='filters.html'" class="header-button">Filters</button>
  </header>
  <body>
    <div class="flexbox-container rules-container-1">
      <div class="flexbox-item flexbox-item-1">text text</div>
      <div class="flexbox-item flexbox-item-1"></div>
    </div>
    <div class="flexbox-container rules-container-2">
      <div class="flexbox-item flexbox-item-1">text text</div>
      <div class="flexbox-item flexbox-item-1"></div>
      <div class="flexbox-item flexbox-item-1"></div>
      <div class="flexbox-item flexbox-item-1"></div>
    </div>
    <div class="flexbox-container rules-container-3">
      <div class="flexbox-item flexbox-item-1">text text</div>
      <div class="flexbox-item flexbox-item-1"></div>
      <div class="flexbox-item flexbox-item-1"></div>
    </div>
  </body>
</html>
